version: '3.8'

services:
  backend:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - FLASK_APP=backend/app.py
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/frontend
    command: python backend/app.py
    working_dir: /app

volumes:
  db_data:
